$BLACK: hsla(291, 0%, 18%, 1);
$TEXT: hsla(291, 0%, 18%, 0.95);
$LIGHT: hsla(291, 0%, 18%, 0.4);
$CALM: hsla(291, 0%, 18%, 0.3);
$SMOKE: hsla(291, 0%, 18%, 0.2);
$WHITE_SMOKE: hsla(291, 0%, 18%, 0.08);
$WHITE: #fff;
$LINK: #03a9f4;
$LINK_HOVER: #ff5252;
$BLUE: #0071bc;

$SALMON_RED: rgb(235, 90, 95);
$CREAMY_WHITE: rgb(244, 244, 244);
$LINKY_BLUE: rgb(65, 183, 252);
$LINKY_BLUE_HOVER: rgba(65, 183, 252, 0.7);
$LETTUCE_GREEN: rgb(201, 224, 109);

// Salmon color palette
$THEME_BLUE: #1fbed6;
$THEME_GREEN: #97c30a;
$THEME_SALMON: #ff717e;
$THEME_LIGHT_GREY: #c0bcb6;
$THEME_DARK_GREY: #555555;
